.body-pesquisa {
    background-color: #A2D4EE;
}

.section-pesquisa {
    background-color: white;
    width: 1200px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-left: 160px;
    margin-top: 35px;
}

.title-pesquisa {
    position: absolute;
    font-size: 34px;
    top: 120px;
}

.imagem-pesquisa {
    border-radius: 40px;
    width: 420px;
    position: absolute;
    top: 180px;
    left: 260px;
}

.btn-combatente1 {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #0A6BA7;
    top: 360px;
    left: 860px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
}

.btn-combatente1:hover {
    opacity: 0.8;
    background-color: #89d9df;
}

.btn-combatente2 {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #E80758;
    top: 360px;
    left: 960px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
}

.btn-combatente2:hover {
    opacity: 0.8;
    background-color: #E86786;
}

.btn-combatente3 {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #2B9746;
    top: 360px;
    left: 1060px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
}

.btn-combatente3:hover {
    opacity: 0.8;
    background-color: #6FC16F;
}

.btn-combatente4 {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #75ebe3;
    top: 360px;
    left: 1160px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
}

.btn-combatente4:hover {
    opacity: 0.8;
    background-color: #75ebe3;
}

.title-escolha {
    position: absolute;
    font-size: 18px;
    top: 320px;
    left: 850px;
}

.title-qtd-poder {
    position: absolute;
    font-size: 18px;
    top: 220px;
    left: 870px;
}

.inpt-poder {
    position: absolute;
    left: 850px;
    top: 265px;
    border-radius: 40px;
    height: 30px;
    width: 160px;
}

.btn-poder {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 180px;
    height: 40px;
    color: white;
    background-color: #020c0c;
    top: 260px;
    left: 1040px;
    cursor: pointer;
}

.btn-poder:hover {
    opacity: 0.8;
    background-color: rgb(99, 93, 93);
}

.btn-exibir {
    width: 200px;
    height: 60px;
    border-radius: 40px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 910px;
    top: 320px;
    border: none;
    cursor: pointer;
}

.display-block {
    display: block;
}

.tituloGraficos {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    color: #000000;
}

.dash {
    width: 480px;
    position: absolute;
    top: 400px;
    left: 840px;
  }

.graph {
    width: 100%;
    height: 200px;
    margin: auto;
    padding-top: 10px;
  }

.button-cn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 30px;
    left: 140px;
    top: 260px;
    border-radius: 40px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000000;
}

.button-cn:hover {
    opacity: 0.8;
}