* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 16px;
    height: 3px;
}

body::-webkit-scrollbar-track {
    background: #e791c6;
    padding: 0.5px;
}

body::-webkit-scrollbar-thumb {
    background-image: url(./imgs/scrollbar.PNG);
}

.aside-navbar{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 40px;
}

.coracao{
    width: 40px;
}

.aside-navbar:hover{
    transition: all .4s;
    opacity: 0.7;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

a:hover {
    opacity: 0.7;
}

.logo {
    width: 200px;
    margin-top: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E86786;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;   
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

main {
    display: flex;
    flex-direction: column;
}

.section-inicial {
    background-color: #E86786;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image1 {
    position: relative;
    width: 338px;
    margin-left: 180px;
}

.title-inicio {
    color: white;
    font-size: 42px;
    width: 640px;
    margin: 0;
    margin-right: 100px;
}

.text-inicio {
    color: white;
    font-size: 24px;
    width: 532px;
    margin: 0;
    margin-top: 16px;
    font-weight: 500;
}

.button-inicio {
    width: 210px;
    height: 60px;
    background: #E80758;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 160px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.button-text-inicio {
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

.section-sobre {
    background-color: #6FC16F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}

.title-section-sobre {
    width: 210px;
    height: 60px;
    background: #2B9746;
    display: flex;
    justify-content: center;
    margin-bottom: 480px;
    padding-right: 160px;
    padding-left: 60px;
    margin-left: -80px;
    border: none;
    border-radius: 40px;
}

.image2 {
    width: 600px;
}

.title-sobre {
    color: white;
    font-size: 40px;
    margin-left: 200px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-sobre {
    color: black;
    font-size: 24px;
    width: 532px;
    margin-top: 46px;
    font-family: 'Montserrat', sans-serif;
}

.section-jogos {
    background-color: #62C1F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 44px;
}

.nome-jogos {
    position: absolute;
    width: 380px;
    height: 50px;
    left: 600px;
    top: 1520px;
    color: white;
    font-size: 30px;
    background: #0A6BA7;
    border-radius: 40px;
    border: none;
}

.image3 {
    width: 480px;
    margin-left: 100px;
    margin-bottom: 60px;
}

.title-section-jogos {
    width: 0px;
    height: 60px;
    background: #0A6BA7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    margin-bottom: 600px;
}

.text-jogos {
    color: white;
    font-size: 30px;
    margin-right: 300px;
}

.text-cadastro {
    color: #0A6BA7;
}

.button-jogos {
    width: 210px;
    height: 60px;
    background: #0A6BA7;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 160px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.button-text-cadastro {
    color: #ffd166;
    font-size: 20px;
    margin-top: 15px;
}

.carrossel {
    background-color: #d1bcea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 658px;
    padding-bottom: 20px;
    padding-top: 44px;
}

.div-carrossel {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    bottom: 100px;
    left: 60px;
}

.div-carrossel2 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    bottom: 100px;
    left: 160px;
}

.div-carrossel3 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    bottom: 100px;
    left: 250px;
}

.div-carrossel4 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    top: 160px;
    right: 560px;
}

.div-carrossel5 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    top: 160px;
    right: 460px;
}

.div-carrossel6 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    top: 160px;
    right: 360px;
}

.div-img-p1{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    padding-right: 10px;
}

.div-img-p3{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
}

.div-img-p5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-p1 {
    height: 90px;
    width: 80px;
    padding: 10px;
}

.img-p2 {
    height: 90px;
    width: 80px;
    padding: 10px;
}

.img-p3 {
    height: 100px;
    width: 80px;
    padding: 6px;
}

.img-p4 {
    height: 90px;
    width: 80px;
    padding: 10px;
}

.img-p5 {
    height: 90px;
    width: 80px;
    padding: 1px;
    margin-top: 12px;
    margin-bottom: 6px;
}

.img-p6 {
    height: 80px;
    width: 60px;
    padding: 12px;
    margin-top: 6px;
}

.nome-personagem {
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
}

.nome-personagem4 {
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
}

.nome-personagem5 {
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
}

.nome-personagem6 {
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
}

.cat-per {
    font-size: 12px;
}

.cat-personagem {
    padding-left: 30px;
    top: -20px;
}

.cat-personagem1 {
    padding-left: 34px;
    top: -20px;
}

.cat-personagem3 {
    padding-left: 36px;
    top: -20px;
}

.btn-mais {
    position: relative;
    width: 60px;
    height: 30px;
    color: black;
    font-size: 8px;
    background-color: #89d9df;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    left: 20px;
    top: 14px;
    box-shadow: 10px 10px black;
}

.btn-mais:hover {
    opacity: 0.8;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }

  .h2-p1 {
    padding-top: 20px;
  }
  
#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }
  
#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

.btn-favoritar {
    position: relative;
    width: 60px;
    height: 30px;
    color: black;
    font-size: 8px;
    background: #89d9df;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    left: 50px;
    top: 14px;
    box-shadow: 10px 10px black;
}

.btn-favoritar:hover {
    opacity: 0.8;
}

.btn-favoritos {
    position: absolute;
    width: 600px;
    height: 40px;
    color: white;
    font-size: 12px;
    background: #924bae;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    top: 2280px;
}

.btn-favoritos:hover {
    opacity: 0.8;
    background-color: #c991e7;
}

.title-personagem {
    position: relative;
    width: 380px;
    height: 50px;
    left: 608px;
    bottom: 300px;
    color: white;
    font-size: 30px;
    background: #300755;
    border-radius: 40px;
    border: none;
}

.btn-close {
    background-color: #89d9df;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    box-shadow: 10px 10px black;
}

.footer-index{
    background-color: #E86786;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

ul li{
    list-style-type: none;
}

.list-menu-footer li:nth-child(6){
    margin-bottom: 20px;
}

.list-menu-footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.logo-footer{
    width: 200px;
}

.footer-title{
    font-size: larger;
}

.span-text{
    color: white;
}

.footer-contact{
    display: flex;
    flex-direction: column;
}

.list-media{
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
}

