* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    width: 94px;
    margin-top: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E86786;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;   
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

main {
    display: flex;
    flex-direction: column;
}

.section-inicial {
    background-color: #E86786;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image1 {
    position: relative;
    width: 338px;
    margin-left: 180px;
}

.title-inicio {
    color: white;
    font-size: 42px;
    width: 640px;
    margin: 0;
    margin-right: 100px;
}

.text-inicio {
    color: white;
    font-size: 24px;
    width: 532px;
    margin: 0;
    margin-top: 16px;
    font-weight: 500;
}

.button-inicio {
    width: 210px;
    height: 60px;
    background: #E80758;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 160px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.button-text-inicio {
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

.section-sobre {
    background-color: #6FC16F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
}

.title-section-sobre {
    width: 210px;
    height: 60px;
    background: #2B9746;
    display: flex;
    justify-content: center;
    margin-bottom: 480px;
    padding-right: 160px;
    padding-left: 60px;
    margin-left: -80px;
    border: none;
    border-radius: 40px;
}

.image2 {
    width: 600px;
}

.title-sobre {
    color: white;
    font-size: 40px;
    margin-left: 200px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-sobre {
    color: black;
    font-size: 24px;
    width: 532px;
    margin-top: 46px;
    font-family: 'Montserrat', sans-serif;
}

.section-jogos {
    background-color: #62C1F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 44px;
}

.nome-jogos {
    position: absolute;
    width: 380px;
    height: 50px;
    left: 600px;
    top: 1520px;
    color: white;
    font-size: 30px;
    background: #0A6BA7;
    border-radius: 40px;
    border: none;
}

.image3 {
    width: 480px;
    margin-left: 100px;
    margin-bottom: 60px;
}

.title-section-jogos {
    width: 0px;
    height: 60px;
    background: #0A6BA7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    margin-bottom: 600px;
}

.text-jogos {
    color: white;
    font-size: 30px;
    margin-right: 300px;
}

.text-cadastro {
    color: #0A6BA7;
}

.button-jogos {
    width: 210px;
    height: 60px;
    background: #0A6BA7;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 160px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.button-text-cadastro {
    color: #ffd166;
    font-size: 20px;
    margin-top: 15px;
}

.body-cadastro {
    background-color: #62C1F3;
}

.cadastro {
    background-color: white;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-left: 160px;
    margin-top: 35px;
}

.cad {
    position: absolute;
    width: 334px;
    height: 46px;
    left: 360px;
    bottom: 550px;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;

}

.text-cad {
    position: absolute;
    width: 969px;
    height: 46px;
    left: 290px;
    top: 180px;
    font-weight: 700;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6FC16F;
}

.imagem-cadastro {
    position: absolute;
    width: 600px;
    left: 180px;
    top: 200px;

}

.hr1 {
    position: absolute;
    width: 300px;
    height: 0px;
    right: 600px;
    bottom: 300px;
    border: 1px solid #000000;
    transform: rotate(90.81deg);
}

.nome-form {
    position: absolute;
    width: 173px;
    height: 61px;
    left: 880px;
    bottom: 500px;
    font-weight: 700;
    font-size: 28px;
}

.input-nome {
    position: absolute;
    width: 360px;
    height: 20px;
    left: 874px;
    top: 200px;
    background: #A2D4EE;
    border-radius: 40px;
    border: none;
    padding: 10px;
}

.dtnasc-form {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 880px;
    top: 260px;
    font-weight: 700;
    font-size: 28px;
}

.input-dtnasc {
    position: absolute;
    width: 360px;
    height: 20px;
    left: 874px;
    top: 300px;
    background: #A2D4EE;
    border-radius: 40px;
    border: none;
    padding: 10px;
}

.email-form {
    position: absolute;
    width: 173px;
    height: 38px;
    left: 880px;
    top: 360px;
    font-weight: 700;
    font-size: 28px;

}

.input-email {
    position: absolute;
    width: 380px;
    height: 40px;
    left: 874px;
    top: 400px;
    background: #AEDEF8;
    border-radius: 40px;
    border: none;
}

.senha-form {
    position: absolute;
    width: 173px;
    height: 38px;
    left: 880px;
    top: 460px;
    font-weight: 700;
    font-size: 28px;
}

.input-senha {
    position: absolute;
    width: 380px;
    height: 40px;
    left: 874px;
    top: 500px;
    background: #B5DEF3;
    border-radius: 40px;
    border: none;
}

.button-cad {
    position: absolute;
    width: 244px;
    height: 57px;
    left: 953px;
    top: 560px;
    color: white;
    font-size: 24px;
    background: #0A6BA7;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.button-cad:hover {
    opacity: 0.8;
}

.text-log {
    position: absolute;
    width: 345px;
    height: 32px;
    left: 974px;
    top: 620px;
    font-size: 14px;
}

.body-login {
    background-color: #62C1F3;
}

.login {
    background-color: white;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-left: 160px;
    margin-top: 35px;
}

.log {
    position: absolute;
    width: 334px;
    height: 46px;
    left: 392px;
    bottom: 550px;
    font-weight: 700;
    font-size: 40px;
}

.email-form-log {
    position: absolute;
    width: 173px;
    height: 38px;
    left: 248px;
    top: 240px;
    font-size: 28px;
}

.input-email-log {
    position: absolute;
    width: 467px;
    height: 40px;
    left: 244px;
    top: 280px;
    background: #A1E394;
    border-radius: 40px;
    border: none;
}

.senha-form-log {
    position: absolute;
    width: 173px;
    height: 38px;
    left: 248px;
    top: 380px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.input-senha-log {
    position: absolute;
    width: 467px;
    height: 40px;
    left: 244px;
    top: 420px;
    background: #A1E394;
    border-radius: 40px;
    border: none;
}

.button-login {
    position: absolute;
    width: 244px;
    height: 57px;
    left: 342px;
    top: 520px;
    color: white;
    font-size: 30px;
    background: #2B9746;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.button-login:hover {
    opacity: 0.8;
    
}

.text-cadastrar {
    position: absolute;
    width: 345px;
    height: 32px;
    left: 340px;
    top: 580px;
    font-size: 14px;
}

.carrossel {
    background-color: #d1bcea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 658px;
    padding-bottom: 20px;
    padding-top: 44px;
}

.div-carrossel {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    bottom: 100px;
    left: 60px;
}

.div-carrossel2 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    bottom: 100px;
    left: 160px;
}

.div-carrossel3 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    bottom: 100px;
    left: 250px;
}

.div-carrossel4 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    top: 160px;
    right: 560px;
}

.div-carrossel5 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    top: 160px;
    right: 460px;
}

.div-carrossel6 {
    position: relative;
    background-color: white;
    width: 280px;
    height: 220px;
    border-radius: 60px;
    top: 160px;
    right: 360px;
}

.div-img-p1{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    padding-right: 10px;
}

.div-img-p3{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6px;
}

.div-img-p5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-p1 {
    height: 90px;
    width: 80px;
    padding: 10px;
}

.img-p2 {
    height: 90px;
    width: 80px;
    padding: 10px;
}

.img-p3 {
    height: 100px;
    width: 80px;
    padding: 6px;
}

.img-p4 {
    height: 90px;
    width: 80px;
    padding: 10px;
}

.img-p5 {
    height: 90px;
    width: 80px;
    padding: 1px;
    margin-top: 12px;
    margin-bottom: 6px;
}

.img-p6 {
    height: 80px;
    width: 60px;
    padding: 12px;
    margin-top: 6px;
}

.nome-personagem {
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
}

.nome-personagem4 {
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
}

.nome-personagem5 {
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
}

.nome-personagem6 {
    left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 22px;
    font-size: 20px;
    line-height: 22px;
}

.cat-per {
    font-size: 12px;
}

.cat-personagem {
    padding-left: 30px;
    top: -20px;
}

.cat-personagem1 {
    padding-left: 34px;
    top: -20px;
}

.cat-personagem3 {
    padding-left: 36px;
    top: -20px;
}

.btn-mais {
    position: relative;
    width: 60px;
    height: 30px;
    color: black;
    font-size: 8px;
    background-color: #89d9df;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    left: 20px;
    top: 14px;
    box-shadow: 10px 10px black;
}

.btn-mais:hover {
    opacity: 0.8;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
  }

  .h2-p1 {
    padding-top: 20px;
  }
  
#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }
  
#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

.btn-favoritar {
    position: relative;
    width: 60px;
    height: 30px;
    color: black;
    font-size: 8px;
    background: #89d9df;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    left: 50px;
    top: 14px;
    box-shadow: 10px 10px black;
}

.btn-favoritar:hover {
    opacity: 0.8;
}

.title-personagem {
    position: relative;
    width: 380px;
    height: 50px;
    left: 608px;
    bottom: 300px;
    color: white;
    font-size: 30px;
    background: #300755;
    border-radius: 40px;
    border: none;
}

.imagem-login {
    width: 550px;
}

.div-imagem-log {
    padding-left: 660px;
}

.btn-close {
    background-color: #89d9df;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 40px;
    box-shadow: 10px 10px black;
}

.img-rodape {
    width: 160px;
    height: 160px;
    padding-top: 30px;
    margin-left: 1300px;
}

.rodape {
    width: 1519px;
    height: 220px;
    background-color: #E80758;
}

.desenvolvedor {
    padding-left: 100px;
}

.body-pesquisa {
    background-color: #A2D4EE;
}

.section-pesquisa {
    background-color: white;
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-left: 160px;
    margin-top: 35px;
}

.title-pesquisa {
    position: absolute;
    font-size: 34px;
    top: 120px;
}

.imagem-pesquisa {
    border-radius: 40px;
    width: 420px;
    position: absolute;
    top: 180px;
    left: 260px;
}

.btn-combatente1 {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #0A6BA7;
    top: 360px;
    left: 860px;
    cursor: pointer;
}

.btn-combatente1:hover {
    opacity: 0.8;
    background-color: #89d9df;
}

.btn-combatente2 {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #E80758;
    top: 360px;
    left: 960px;
    cursor: pointer;
}

.btn-combatente2:hover {
    opacity: 0.8;
    background-color: #E86786;
}

.btn-combatente3 {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #2B9746;
    top: 360px;
    left: 1060px;
    cursor: pointer;
}

.btn-combatente3:hover {
    opacity: 0.8;
    background-color: #6FC16F;
}

.btn-combatente4 {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 80px;
    height: 40px;
    color: white;
    background-color: #75ebe3;
    top: 360px;
    left: 1160px;
    cursor: pointer;
}

.btn-combatente4:hover {
    opacity: 0.8;
    background-color: #75ebe3;
}

.title-escolha {
    position: absolute;
    font-size: 18px;
    top: 320px;
    left: 850px;
}

.title-qtd-poder {
    position: absolute;
    font-size: 18px;
    top: 220px;
    left: 870px;
}

.inpt-poder {
    position: absolute;
    left: 850px;
    top: 265px;
    border-radius: 40px;
    height: 30px;
    width: 160px;
}

.btn-poder {
    position: absolute;
    border-radius: 40px;
    border: none;
    width: 180px;
    height: 40px;
    color: white;
    background-color: #020c0c;
    top: 260px;
    left: 1040px;
    cursor: pointer;
}

.title-combate {
    text-shadow: 2px 1px 3px black;
}

.btn-exibir {
    width: 200px;
    height: 60px;
    border-radius: 40px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    position: absolute;
    left: 910px;
    top: 320px;
    border: none;
    cursor: pointer;
}

.display-block {
    display: block;
}

.tituloGraficos {
    color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    color: #000000;
}


.dash {
    width: 480px;
    position: absolute;
    top: 400px;
    left: 880px;
  }

.graph {
    width: 100%;
    height: 200px;
    margin: auto;
    padding-top: 10px;
  }